.login-form {
    border: 1px solid black;
    height: 400px;
    width: 450px;
    margin: auto;
    /*background: black;*/
    color: black;
}

button {
    margin-top: 10px;
    width: 195px;
    color: black;
    border-radius: 10px;

  }
  